<div class="nav">
    <a id="logo" href="/">
        <img src="./assets/logo.png">
    </a>
    <a href="/login" id="login" class="btn btn-lg btn-info">Login</a>
</div>
<div class="jumbotron text-center">
    <h1>Notes made simple</h1>
    <h4>Simple notes for everyday use</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Simple notes for everyday use</h2>
            <p>Nobody wantscomplicated notes. Often you just want to write a date or a short code.</p> 
            <p>You want notes thats fast sync across all your devices1 smoothly.</p>     
            <p>Thats why we built SimpleNotes with all the functionality we think you need.</p>
            <br><p>1. By all your devices we mean the ones that can use a webbrowser</p>
        </div>
        <div class="col-md-4">
            <img src="./assets/landingpage_img1.jpg">
        </div>
    </div>
</div>

<footer class="text-center">
    <h4 class="text-white">A prdouct made by Isac Ljung</h4>
</footer>