@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans');

$primary-color: #FF4D4D;
$darkGrey: #4D4D4D;
$font1: 'Montserrat', sans-serif;
body {
    font-family: 'Open Sans', sans-serif;
}

.text-white {
    color:white;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background:#888;
}

h1, h2, h3, h4, h5, h6,.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font1;
}

h5 {
    font-size: 16px;
    color:white;
}

.jumbotron {
    background: $darkGrey;
    color:white;
    padding:10%;
}

.btn {
    font-family: $font1;
}

.btn.btn-primary {
    background: $primary-color;
    border:none;
}

.btn.btn-info {
    border: $primary-color 2px solid;
    background:none;
}

.nav {
    position:absolute;
    padding:28px 40px 0 40px;
    width:100%;

    #logo {
        float:left;
    }

    #login {
        float:right;
        margin-top:5px;
    }

}

.sidenav {
    height:100%;
    left:0;
    width:250px;
    background:$darkGrey;
    padding:10px 0px 200px 0px;
    min-height:400px;
    position: absolute;
    display:none;

    .noteList {
        height:100%;
        overflow-y: scroll;
    }

    #logo-sidenav {
        position: absolute;
        bottom:40px;
        width:190px;
    }
    #topTitle {
        color:white;
        padding: 10px 10px 0 30px;
        font-size:20px;
        font-weight: 700;
        display: inline-block;
        font-family: $font1;
    }

    .fa-plus {
        font-size:20px;
        color:white;
    }

    .fa-plus:hover {
        color:#616161;
        cursor: pointer;
    }
    .note {
        border-bottom: solid #616161 1px;
        padding:5px 30px;
        p {
            color:white;
        }

        .fa-trash {
            float:right;
            margin-top:10px;
            font-size: 20px;
            color:white;
        }
        .fa-trash:hover {
            color:$primary-color;
        }
    }
    .note:hover {
        background:#616161;
    }

}
.ta-toolbar .btn {
    height:35px;
}

.save {
    float: right;
    margin-top: 25px;
}

#noteContainer {
    input.h2 {
        border:none;
        border-bottom: $primary-color 2px solid;
    }
    input.h2:focus {
        
        outline:none;

    }

    .ta-scroll-window.form-control {
        margin-top:15px;
    }

}

.note.selected {
    background:#616161;
}

#userBox {
    position: fixed;
    right:20px;
    bottom:20px;
    text-align: right;
}


.formSite {
    background:$primary-color;
    width:100%;
    height:100%;
    padding:50px;

    .col-md-6 {
        padding:50px;
        background:white;
        margin-top:50px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, .2) 0px 5px 10px;
    }
}

footer {
    background:$darkGrey;
    margin-top:100px;
    padding:50px;
}

@media screen and (min-width:960px) {
    .sidenav{
        display:block;
    }

    #noteContainer {
        margin-left:250px;
        width:74%;
    }


}