@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans');


// Variables
/////////////////////////////
$primary-color: #FF4D4D;
$darkGrey: #4D4D4D;
$grey: #616161; 
$font1: 'Montserrat', sans-serif;


// General 
/////////////////////////////
body {
    font-family: 'Open Sans', sans-serif;
    min-width:960px;
}

.text-white {
    color:white;
}


// Typography & Buttons
/////////////////////////////

h1, h2, h3, h4, h5, h6,.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font1;
}

h5 {
    font-size: 16px;
    color:white;
}

.jumbotron {
    background: $darkGrey;
    color:white;
    padding:10%;
}

.btn {
    font-family: $font1;
}

.btn.btn-primary {
    background: $primary-color;
    border:none;
}

.btn.btn-info {
    border: $primary-color 2px solid;
    background:none;
}

// Landing page
/////////////////////////////
.nav {
    position:absolute;
    padding:28px 40px 0 40px;
    width:100%;

    #logo {
        float:left;
    }

    #login {
        float:right;
        margin-top:5px;
    }

}


// Notes
/////////////////////////////
.sidenav { // Sidenavigation on notes view
    height:100%;
    left:0;
    width:250px;
    background:$darkGrey;
    padding:10px 0px 200px 0px;
    min-height:400px;
    position: absolute;

    .note.selected {
        background:$grey;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-thumb {
        background:#888;
    }
    
    .noteList {
        height:100%;
        overflow-y: scroll;
    }

    #logo-sidenav {
        position: absolute;
        bottom:40px;
        width:190px;
    }

    #topTitle {
        color:white;
        padding: 10px 10px 0 30px;
        font-size:20px;
        font-weight: 700;
        display: inline-block;
        font-family: $font1;
    }

    .fa-plus {
        font-size:20px;
        color:white;
    }

    .fa-plus:hover {
        color:$grey;
        cursor: pointer;
    }

    .note {
        border-bottom: solid $grey 1px;
        padding:5px 30px;

        p {
            color:white;
        }

        .fa-trash {
            float:right;
            margin-top:10px;
            font-size: 20px;
            color:white;
        }

        .fa-trash:hover {
            color:$primary-color;
        }
    }
    .note:hover {
        background:$grey;
    }
}

// Note container is where the selected note is viewed
#noteContainer {

    margin-left:250px;
    width:74%;

    .ta-toolbar .btn {
        height:35px;
    }
    input.h2 {
        border:none;
        border-bottom: $primary-color 2px solid;
    }

    input.h2:focus {
        outline:none;
    }

    .ta-scroll-window.form-control {
        margin-top:15px;
    }

}

// Userbox is the small box with user information in notes view
/////////////////////////////
#userBox {
    position: fixed;
    right:20px;
    bottom:20px;
    text-align: right;
}

// FormSite is for the views with forms
// Login, Register, Profile
/////////////////////////////
.formSite {
    background:$primary-color;
    width:100%;
    height:100%;
    padding:50px;
    position: absolute;

    .col-md-6 {
        padding:50px;
        background:white;
        margin-top:50px;
        box-shadow: rgba(0, 0, 0, .2) 0px 5px 10px;
    }
    input.form-control {
        box-shadow: none;
        border-radius: 0;
        border:none;
        border-bottom: 2px solid $primary-color;
    }
    input.form-control:focus {
        box-shadow: none;
        border-radius: 0;
        border:none;
        border-bottom: 3px solid $primary-color;
    }
}


// Footer
/////////////////////////////
footer {
    background:$darkGrey;
    margin-top:100px;
    padding:50px;
}



